Jinja2>=2.11
MarkupSafe>=2.0
Pillow
PyWavelets
Pygments>=2.7
bleach>=3.2
cycler
decorator
entrypoints
html5lib
isort
jedi
jsonschema
jupyter
lazy-object-proxy
matplotlib
mccabe
mistune
nbformat
notebook
numpy
olefile
pandocfilters
pexpect
pickleshare
pylint
pyparsing
python-dateutil
pytz
qtconsole
scikit-image
scipy
simplegeneric
six
testpath
timeout-decorator
wcwidth
widgetsnbextension
wrapt